Options +FollowSymlinks
RewriteEngine on
RewriteRule ^accueil$ /index.php [L]
RewriteRule ^agenda$ /agenda.php [L]
RewriteRule ^conseils-municipaux$ /articles.php?type=CM [L]
RewriteRule ^conseils-municipaux-([0-9]+)$ /articles.php?type=CM&page=$1 [L]
RewriteRule ^bulletins-communaux$ /articles.php?type=BC [L]
RewriteRule ^bulletins-communaux-([0-9]+)$ /articles.php?type=BC&page=$1 [L]
RewriteRule ^demarches-administratives$ /articles.php?type=DA [L]
RewriteRule ^demarches-administratives-([0-9]+)$ /articles.php?type=DA&page=$1 [L]
RewriteRule ^informations-communales$ /articles.php?type=IC [L]
RewriteRule ^informations-communales-([0-9]+)$ /articles.php?type=IC&page=$1 [L]
RewriteRule ^actualites$ /articles.php?type=AC [L]
RewriteRule ^actualites-([0-9]+)$ /articles.php?type=AC&page=$1 [L]
RewriteRule ^permis-de-contruire$ /buildingPermit.php [L]
RewriteRule ^contact$ /contact.php [L]
RewriteRule ^gestion-du-site$ /contentForm.php [L]
RewriteRule ^gestion-du-site-articles-([0-9]+)$ /contentForm.php?page=$1 [L]
RewriteRule ^mentions-legales$ /legalNotice.php [L]
RewriteRule ^conseil-municipal$ /municipalCouncilComposition.php [L]
RewriteRule ^plan-local-urbanisme$ /plu.php [L]
RewriteRule ^salle-des-fetes$ /salleDesFetes.php [L]
RewriteRule ^plan-du-site$ /sitemap.php [L]
RewriteRule ^horaires-et-permanences$ /timetable.php [L]
RewriteRule ^en-construction$ /websiteunderConstruction.php [L]